<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title> xckomorebi - {{ title }}</title>
    {% else %}
        <title> xckomorebi </title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <div class="holder__logo">
          <a href="/"><img src='static/mylogo.png'></a>
        </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/about">About</a>
              <a class="nav-item nav-link" href="/list_files">Free Download</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav holder">
              <a class="nav-item nav-link" href="https://space.bilibili.com/2493636"><img src='/static/bilibili.png'></a>
              <a class="nav-item nav-link" href="https://www.instagram.com/xckomorebi/"><img src='/static/ins.png'></a>
              <a class="nav-item nav-link" href="https://jq.qq.com/?_wv=1027&k=4OVd1ZU6"><img src='/static/qq.png'></a>
            </div>
          </div>
        </div>
      </nav>
      <hr class="site-header__hr">
      
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 center">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="site-footer" role="contentinfo">
        <div class="page-width">
          <div class="site-footer__content"></div>
        </div>
      
        <hr class="site-footer__hr">
        <div class="page-width">
          <div class="grid grid--no-gutters small--text-center">
            <div class="grid__item">
              <small class="site-footer__copyright-content">&copy; 2021, <a href="/" title="">XC</a></small>
              <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">
                <a target="_blank" rel="nofollow" href="#">Powered by XC</a></small>
            </div>
          </div>
        </div>
      </footer>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
